<a href="https://colab.research.google.com/github/mariola5/Mobile_Price_Classification/blob/main/Mobile_Price_Classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Mobile Price Classification - klasyfikacja przedziału cenowego dla telefonów komórkowych

# Import bibliotek

In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn import tree

#Pobranie danych

In [2]:
df = pd.read_csv("/content/train.csv")

#Informacje o danych

In [3]:
df.describe().apply(lambda x: round(x, 2))

       battery_power    blue  clock_speed  ...  touch_screen     wifi  price_range
count        2000.00  2000.0      2000.00  ...        2000.0  2000.00      2000.00
mean         1238.52     0.5         1.52  ...           0.5     0.51         1.50
std           439.42     0.5         0.82  ...           0.5     0.50         1.12
min           501.00     0.0         0.50  ...           0.0     0.00         0.00
25%           851.75     0.0         0.70  ...           0.0     0.00         0.75
50%          1226.00     0.0         1.50  ...           1.0     1.00         1.50
75%          1615.25     1.0         2.20  ...           1.0     1.00         2.25
max          1998.00     1.0         3.00  ...           1.0     1.00         3.00

[8 rows x 21 columns]